
.DS_Store

CertificateHelper.xcodeproj/karsten.mode2v3

CertificateHelper.xcodeproj/karsten.pbxuser

CertificateHelper.xcodeproj/project.xcworkspace/xcuserdata/karsten.xcuserdatad/UserInterfaceState.xcuserstate

CertificateHelper.xcodeproj/project.xcworkspace/xcuserdata/karsten.xcuserdatad/WorkspaceSettings.xcsettings

CertificateHelper.xcodeproj/xcuserdata/karsten.xcuserdatad/xcschemes/CertificateHelper.xcscheme

CertificateHelper.xcodeproj/xcuserdata/karsten.xcuserdatad/xcschemes/xcschememanagement.plist
